.emptyCart {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 90.2vh;
  width: 100%;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background: white;
}
.cartContainer {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(251, 245, 159);
}
.customerInfo { 
    height: 90vh;
    width:50%;
    border: 1px rgb(135, 135, 135) solid;
    background: rgb(255, 204, 36);
}
form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 18px;
    padding-top:40px ;
}
form > input {
    width: 270px;
    margin-left:10px;
    padding-left: 21px;
    height: 40px;
}
.orderInfo {
    width: 50%;
    height: 90vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.orderItems {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
    overflow: scroll;
}
.cartItem {
    width: 220px;
    margin: 5px;
    height:230px;
    text-align: center;
    background: rgb(255, 119, 0);
}
.cartItem > img {
    width: 150px;
    height: 150px;
}
.cartFlowerName {
    font-size: 21px;
}
.cartFlowerPrice {
    font-size: 19px;
}
.cartOrder {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cartQuantity {
    font-size: 19px;
    width: 16px;
    height: 30px;
}
.amountButtons > button {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: none;
    transition: 0.2s;
}
.amountButtons > button:hover {
    background: rgb(255, 52, 38);
    font-weight: bold;
    color:white;
    cursor: pointer;
}
.endOrder {
    background: pink;
    height: 5vh;
}
.submitOrder {
    margin:30px 0px 0px 20px ;
    border:none;
    width: 130px;
    height: 50px;
    background: rgb(47, 47, 255);
    border-radius: 10px;
    color:white;
    font-weight: bold;
}
.submitOrder:hover {
    cursor: pointer;
    transition: all 1s ease-out;
    transform:rotate(360deg);
    background: black;
    color:white;
}
.total {
    margin-top: 10px;
    font-size: 25px;
}
.orderStoryBlock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(163, 163, 163);
    width:500px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.395);
}
.storyItems {
    height: 400px;
    overflow: scroll;
}
.storyItem {
    display: flex;
    border:1px grey solid;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    margin:2px 0px 0px 0px;
}
.storyItem > img {
    width: 100px;
}
.storyItem > p {
    padding-right: 20px;
    font-size:20px;
}
.addStoryInfo {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    text-align: start;
}
.orderStoryBlock button {
    width: 100px;
    height: 25px;
}
.orderStoryBlock button:hover {
    cursor: pointer;
}
